@import url('https://fonts.googleapis.com/css?family=Bangers|Boogaloo');
body{
  background-image:url("../img/big-pig.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100px;
  background-color: #F8C1D4;
  font-family: 'Boogaloo', cursive;
  font-size: 14pt;
}
label{
  color: #5C604D;
}
h1{
  color: #F20056;
}
input[type=text]{
  font-size: 14pt;
  color: #A3AE7E;
}
.panel {
  background-color: rgba(255, 255, 255, 0.5);
}
.center {
  text-align: center;
}
#submit{
    font-size: 14pt;
}
.output{
  font-size: 24pt;
  color:#F20056;
  text-align: center;
}
